body {
	background-color: #282828;
	color: #fff;
	font-family: sans-serif;
	margin: 0px;
	padding: 0px;
	width: 100vw;
	height: 100vh;
}

canvas {
	width: 100%;
	height: 100%;
}

#canvas-container {
	margin: auto auto;
}

#ui-container {
	margin: auto auto;
	overflow: scroll;
	text-align: center;
}
